html, body{
  height: 99%;
  width: 100%;
}
body{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  /*border: 3px solid red;*/
  z-index: 0;
  /*overflow: hidden;*/
}
h1{
  text-align: center;
}
h4{
  display:inline-block;
}

.skeleton-board-container{
  display:flex;
  height: 70%;
  width: 100%;
  /*border: 10px solid pink;*/
}
.container{
    /*border: 1px solid gold;*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.player-names{
  height:15%;
  width: 100%;
}
.skeleton{
  background-color: black;
  border: 10px solid red;
  position: relative;
  display: inline-block;
  height: 70%;
  width: 25%;
  margin: 95px 50px 130px 75px;
}
.buttons{
  background-color: red;
  color: black;
  bottom: 0;
  right: 50%;
  font-size: 30px;
  display: inline;
  position: absolute;
}
.boxes{
  display:block;
}

/*/=================General===============/*/



.gameboard {
  background-color: white;
  position: relative;
  border: 3px solid red;
  height:65%;
  width: 65%;
  margin: 100px 20px;
  overflow: hidden;
}
.player1{
  color: red;
  font-size: 20px;
}
.player2{
  color: red;
  font-size: 20px;
}
.titulo{
  background-color: black;
  color:red;
  text-align: center;
}

.skull2{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.torso2{
  display: inline-block;
  width: 70px;
  height: 80px;
}

.leftarm2{
  display: inline-block;
  width: 100px;
  height: 50px;
}
.rightarm2{
  display: inline-block;
  width: 80px;
  height: 90px;
}
.leftleg2{
  display: inline-block;
  width: 65px;
  height: 85px;
}
.rightleg2{
  display: inline-block;
  width: 65px;
  height: 85px;
}


/*===================Animation===========================*/


.skull{
  /*background: black;*/
  position: relative;
  animation-name: box-step;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.torso{
  /*background: black;*/
  position: relative;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.leftarm{
  /*background: black;*/
  position: relative;
  animation-name: ping;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.rightarm{
  /*background: black;*/
  position: relative;
  animation-name: fav;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.leftleg{
  /*background: black;*/
  position: relative;
  animation-name: rodeo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.rightleg{
  /*background: black;*/
  position: relative;
  animation-name: kicker;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/*colors and movement*/
@keyframes box-step {
  0% {background: none; left:0%; top:0%;}
  10% {background:  none; }
  25% {background:  none; left: 75%; top:0px;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; left: 75%; top: 10em; }
  60% {background: none; }
  75% {background: none; left:0%; top:10em;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:0px; top:0px; }
}

@keyframes ping {
  0% {background: none; left:0%; bottom: 0%;}
  10% {background: none; }
  25% {background: none; left: 55%; bottom:0%;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; left: 0%; bottom: 10%; }
  60% {background: none; }
  75% {background: none;left:75%; top:10%;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:0%; bottom:0%; }
}
@keyframes slide {
  0% {background: none; right:0%; bottom: 100px}
  10% {background: none; }
  25% {background: none; left: 0%; top:75px;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; left: 75%; top: 10%; }
  60% {background: none; }
  75% {background: none; left:10%; top:20em;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:0px; top:0px; }
}
@keyframes fav {
  0% {background: none; right:0%; bottom: 0;}
  10% {background: none; }
  25% {background: none; right: 75%; bottom:0px;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; right: 45%; bottom: 5em; }
  60% {background: none; }
  75% {background: none; right:0%; bottom:15em;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:0px; top:0px; }
}
@keyframes rodeo {
  0% {background: none; left:0%; top: 0px}
  10% {background: none; }
  25% {background: none; left: 0%; top:75px;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; left: 75%; top: 10em; }
  60% {background: none; }
  75% {background: none; left:0%; top:10em;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:0px; top:0px; }
}
@keyframes kicker {
  0% {background: none; right:100%; bottom: 100px}
  10% {background: none; }
  25% {background: none; left: 0%; top:75px;}
  30% {background: none;}
  40% {background: none;}
  50% {background: none; left: 75%; top: 10em; }
  60% {background: none; }
  75% {background: none; left:33%; top:12em;}
  80% {background: none;}
  90% {background: none; }
  100% {background: none; left:10px; top:5px; }
}
