html, body{
  height: 100%;
  width: 100%;
}
body{
  background-image: url(/Users/hectorguevara/Desktop/dev/Skeleton-Hunt/images/hospital-background-1953.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid red;
  /*position: fixed;*/
  z-index: 0;
  overflow: hidden;
}

.container{
    border: 1px solid gold;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.buttons{
  background-color: red;
  color: white;
  bottom: 0;
  right: 50%;
  font-size: 30px;
  display: inline;
  position: absolute;
}
.boxes{
  display:block;
}

/*************************
* General
*************************/



.gameboard {
  background-color: white;
  position: relative;
  border: 1px solid gold;
  height:75%;
  width: 65%;
  margin: 30px 20px;
  overflow: hidden;
}

.skull2{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.torso2{
  display: inline-block;
  width: 50px;
  height: 50px;
}

.leftarm2{
  display: inline-block;
  width: 70px;
  height: 80px;
}
.rightarm2{
  display: inline-block;
  width: 30px;
  height: 30px;
}
.leftleg2{
  display: inline-block;
  width: 72px;
  height: 20px;
}
.rightleg2{
  display: inline-block;
  width: 81px;
  height: 41px;
}


/*===================Animation===========================*/


.skull{
  background: black;
  position: relative;
  animation-name: box-step;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.torso{
  background: black;
  position: relative;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.leftarm{
  background: black;
  position: relative;
  animation-name: ping;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.rightarm{
  background: black;
  position: relative;
  animation-name: fav;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.leftleg{
  background: black;
  position: relative;
  animation-name: rodeo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.rightleg{
  background: black;
  position: relative;
  animation-name: kicker;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/*colors and movement*/
@keyframes box-step {
  0% {background: black; left:0%; top:0%;}
  10% {background: black; }
  25% {background: black; left: 75%; top:0px;}
  30% {background:black;}
  40% {background: lightyellow;}
  50% {background: palegreen; left: 75%; top: 10em; }
  60% {background: mediumaquamarine; }
  75% {background: steelblue; left:0%; top:10em;}
  80% {background: darkviolet;}
  90% {background: black; }
  100% {background: ghostwhite; left:0px; top:0px; }
}

@keyframes ping {
  0% {background: black; right:100%; bottom: 25px}
  10% {background: crimson; }
  25% {background: hotpink; right: 100%; bottom:0px;}
  30% {background: coral;}
  40% {background: lightyellow;}
  50% {background: palegreen; left: 0%; top: 10em; }
  60% {background: mediumaquamarine; }
  75% {background: steelblue; left:75%; top:100em;}
  80% {background: darkviolet;}
  90% {background: black; }
  100% {background: ghostwhite; left:0px; top:0px; }
}
@keyframes slide {
  0% {background: green; right:100%; bottom: 100px}
  10% {background: green; }
  25% {background: green; left: 0%; top:75px;}
  30% {background: green;}
  40% {background: green;}
  50% {background: green; left: 75%; top: 10%; }
  60% {background: green; }
  75% {background: green; left:0%; top:10em;}
  80% {background: green;}
  90% {background: green; }
  100% {background: green; left:0px; top:0px; }
}
@keyframes fav {
  0% {background: yellow; right:100%; bottom: 100px}
  10% {background: yellow; }
  25% {background: yellow; left: 0%; top:75px;}
  30% {background: yellow;}
  40% {background: yellow;}
  50% {background: yellow; left: 75%; top: 10em; }
  60% {background: yellow; }
  75% {background: yellow; left:0%; top:10em;}
  80% {background: yellow;}
  90% {background: yellow; }
  100% {background: yellow; left:0px; top:0px; }
}
@keyframes rodeo {
  0% {background: none; right:100%; bottom: 100px}
  10% {background: blue; }
  25% {background: blue; left: 0%; top:75px;}
  30% {background: blue;}
  40% {background: blue;}
  50% {background: blue; left: 75%; top: 10em; }
  60% {background: blue; }
  75% {background: blue; left:0%; top:10em;}
  80% {background: blue;}
  90% {background: blue; }
  100% {background: blue; left:0px; top:0px; }
}
@keyframes kicker {
  0% {background: orange; right:100%; bottom: 100px}
  10% {background: orange; }
  25% {background: orange; left: 0%; top:75px;}
  30% {background: orange;}
  40% {background: orange;}
  50% {background: orange; left: 75%; top: 10em; }
  60% {background: orange; }
  75% {background: orange; left:0%; top:10em;}
  80% {background: orange;}
  90% {background: orange; }
  100% {background: orange; left:0px; top:0px; }
}
